.card-info {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}

.build-card {
  padding: 1rem 2rem;
  box-shadow: 0px 1px 1px 0px #4344454d;
  transition: box-shadow 0.1s ease-in-out;
  display: flex;
  grid-gap: 20px;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 4px;
  cursor: pointer;
}

.build-card:hover {
  box-shadow: 0px 2px 8px 0px #4344454d;
}

.build-info {
  display: flex;
  gap: 6px;
}

.commit-number {
  font-size: 18px;
}

.commit-message {
  font-size: 16px;
}

.branch-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.build-info img {
  width: 22px;
  height: 22px;
}

.commit-info,
.time-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.time-info .date,
.time-info .build-time {
  display: flex;
  align-items: center;
}

.time-info img {
  padding-right: 6px;
}

.is-transparent {
  opacity: 50%;
}


@media screen and (max-width: 840px) {
  .build-card {
    padding: 1rem 0.75rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: auto 1fr;
  }

  .card-info {
    grid-template-columns: none;
    grid-template-rows: 1fr auto;
    gap: 1rem;
  }

  .branch-info {
    flex-wrap: wrap;
  }
  
  .time-info {
    border-top: 2px solid #F0F2F3;
    padding-top: 0.5rem;
    flex-direction: row;
    justify-content: flex-start;
  }
}