.modal-buttons {
  display: flex;
  gap: 0.5rem;
}

.commits {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.show-more {
  margin: 1rem 0;
}

@media screen and (max-width: 840px) {

  .build-info {
    flex-direction: column;
  }

  .card-info {
    grid-template-rows: 1fr auto;
  }
}