footer {
  display: flex;
  justify-content: center;
  max-height: 50px;
  min-height: 32px;
  background-color: #f0f2f3;
  color: #7f8285;
}

.footer-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  flex-wrap: wrap;
}

footer .links {
  display: flex;
  justify-content: space-evenly;
}

.links a {
  padding: 0 5px;
}

footer a {
  color: inherit;
}

@media screen and (max-width: 500px) {
  footer {
    height: 4rem;
    padding: 1rem 1.3rem;
  }

  .footer-content-wrapper {
    width: 90vw;
  }
}
