.btn {
  padding: 10px 16px; 
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #fc0;
  cursor: pointer;
}

.btn.isGray {
  background-color: #E6E6E6;
}

.btn:focus {
  border: 2px solid #B38F00;
}

.btn:hover {
  background-color: #F2C200;
}

.btn.disabled {
  background-color: #F2F2F2;
  color: rgba(0,0,0,0.5);
}

.btn.isGray:hover {
  background-color: #DBDBDB;
}

.btn.isGray:focus {
  border: 2px solid #B3B3B3;
}
